<ion-view view-title="findSettings">
  <ion-header-bar class="bar-calm">
    <button class="button button-clear" ng-click="redirectToProfileSettings()">Back</button>
    <h1 class="title">Find Settings</h1>
  </ion-header-bar>
  <ion-content has-bouncing="true" class="has-header has-tabs">

    <ul class="list find-settings-find-button">
      <li class="item item-toggle">
         Find
         <label class="toggle toggle-calm">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul></br>

    <div class="findsettings-distance-range">
      <p style="font-size:1.1em">Distance: {{distance}} {{distanceUnit}} </p>
    </div>
    <div class='findsettings-distance-display'>
      <p></p>
    </div>
    <div class="item range range-settings-distance">
      <i class="icon ion-ios-location-outline"></i>
      <input type="range" name="volume" min="2" max="50" value="{{ distance }}" ng-model="distance" ng-change="updateDist(distance)">
      <i class="icon ion-ios-location"></i>
    </div></br>

    <div class="findsettings-age-range">
      <p style="font-size:1.1em">Age: 18 to {{age}}</p>
    </div>
    <div class='findsettings-age-display'>
      <p></p>
    </div>
    <div class="list">
      <div class="item range range-positive range-setting-age">
        <i class="icon ion-ios-circle-outline"></i>
        <input class='range-setting-age -input' type="range" name="age" min="18" max="100" value="33" ng-model='age'>
        <i class="icon ion-ios-circle-filled"></i>
      </div>
    </div>

    <li class="item item-icon-right" ng-click="redirectToShowUserSettings()">
      Show Everyone
      <i class="icon ion-chevron-right"></i>
    </li>
    
  </ion-content>
</ion-view>
