<ion-header-bar class="bar-calm">
  <button class="button button-clear" ng-click="redirectToProfileSettings()">Back</button>

    <h1 class="title">Find Settings</h1>
  <button class="button button-clear">Submit</button>

</ion-header-bar>


<ion-view view-title="findSettings">
  <ion-content>

    <li class="item item-toggle">
       Find
       <label class="toggle toggle-calm">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>
    </br>
    <p>Distance</p>
    <div class="item range">
      <i class="icon ion-ios-location-outline"></i>
      <input type="range" name="volume" ng-model=''>
      <i class="icon ion-ios-location"></i>
    </div>

    </br>
    <p>Age</p>
    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios-circle-outline"></i>
        <input type="range" name="volume" min="18" max="55" value="33" ng-model=''>
        <i class="icon ion-ios-circle-filled"></i>
      </div>
    </div>

    <li class="item item-icon-right" ng-click="redirectToShowUserSettings()">
      Show Everyone
      <i class="icon ion-chevron-right"></i>
    </li>




  </ion-content>
</ion-view>
