<ion-header-bar class="bar-calm">
  <h1 class="title">{{currentUser.name}}</h1>
</ion-header-bar>

<ion-view view-title="profile">
  <ion-content has-bouncing="true" class="has-header has-tabs">

    <center>
      <img class="settings-profile-pic" ng-src="{{currentUser.profilePic}}">
      <p>Change Image?</p>
    </center>

    <div class="settings-main-menu-bottom">
      <ul class="list settings-main-menu">

        <li class="item" ng-click="redirectToFind()">
          Find Preferences
        </li>

        <li class="item">
          Share ImFree
        </li>

        <li class="item">
          Help
        </li>

        <li class="item" ng-click="redirectToSettings()">
          Settings
        </li>

      </ul>
   </div>
  </ion-content>
</ion-view>
