<ion-view>
  <ion-content scroll="true">
  </ion-content>

    <!-- sliding background -->
    <ion-slide-box show-pager='true' does-continue='true' class='fade-in'>
      <ion-slide> 
        <div class="page-1-scroll-content" style="background-image: url('img/loginpage-night-market.png')"></div>
      </ion-slide>
      <ion-slide>
        <div class="page-2-scroll-content" style="background-image: url('img/loginpage-live-concert-event.jpg')"></div>
      </ion-slide>
      <ion-slide>
        <div class="page-3-scroll-content" style="background-image: url('img/loginpage-group-biking-sillouette.jpg')"></div>
      </ion-slide>
      <ion-slide>
        <div class="page-4-scroll-content" style="background-image: url('img/loginpage-people-eating.jpg')"></div>
    </ion-slide-box>

    <!-- header bar -->
    <ion-header-bar class="bar-clear">
      <div class="login-logo-container"> 
        <img style="height:200px" src = "img/imfree-logo-white.png">
      </div>
    </ion-header-bar>

    <!-- footer bar -->
    <ion-footer-bar class="bar-clear">
      <div class="facebook-login-container">
        <img ng-click="loggingInFb()" class = "facebook-login-buttons" style="height:60px" src = "img/facebook-login-crop-bkgrndv3.png">
        <img ng-click="loggingInTwitter()" class = "twitter-login-buttons" style="height:60.4px" src = "img/twitter-login-cropped.png">
      </div>
    </ion-footer-bar>

</ion-view>
