<!-- ion top bar (navigation) -->
<ion-header-bar class="bar-calm">
  <h1 class="title">HangOut</h1>
</ion-header-bar>

<ion-view view-title="Home">
  <ion-content>

    <!-- a single user -->
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <img class="home-profile-pic" ng-src="{{userInfo.profilePic}}">

          </div>
          <div class="col">
            <h1 class="home-username"> {{ userInfo.username }} </h1>
            &nbsp;
            <a><i class="user-card-msg-icon ion-paper-airplane calm"></i></a>

              <p>{{userInfo.distanceMiles}} miles away</p>

          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>
            <a><i class="user-card ion-ios-heart calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
            </center>

          </div>
          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.likesTopThree" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <a class='user-card-see-more'href="#">...</a>
            </center>
            </div>

          </div>

        </div>

      </div>


      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>

            <a><i class="user-card ion-happy calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
          </center>

          </div>

          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.activities" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <!-- <a class='user-card-see-more'href="#">...</a> -->
            </center>
            </div>

          </div>


        </div>
      </div>

<!--       <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
 -->    
    </div>

        <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <img class="home-profile-pic" ng-src="{{userInfo.profilePic}}">

          </div>
          <div class="col">
            <h1 class="home-username"> {{ userInfo.username }} </h1>
            &nbsp;
            <a><i class="user-card-msg-icon ion-paper-airplane calm"></i></a>

              <p>{{userInfo.distanceMiles}} miles away</p>

          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>
            <a><i class="user-card ion-ios-heart calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
            </center>

          </div>
          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.likesTopThree" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <a class='user-card-see-more'href="#">...</a>
            </center>
            </div>

          </div>

        </div>

      </div>


      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>

            <a><i class="user-card ion-happy calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
          </center>

          </div>

          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.activities" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <!-- <a class='user-card-see-more'href="#">...</a> -->
            </center>
            </div>

          </div>


        </div>
      </div>

<!--       <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
 -->    
    </div>

        <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <img class="home-profile-pic" ng-src="{{userInfo.profilePic}}">

          </div>
          <div class="col">
            <h1 class="home-username"> {{ userInfo.username }} </h1>
            &nbsp;
            <a><i class="user-card-msg-icon ion-paper-airplane calm"></i></a>

              <p>{{userInfo.distanceMiles}} miles away</p>

          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>
            <a><i class="user-card ion-ios-heart calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
            </center>

          </div>
          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.likesTopThree" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <a class='user-card-see-more'href="#">...</a>
            </center>
            </div>

          </div>

        </div>

      </div>


      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>

            <a><i class="user-card ion-happy calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
          </center>

          </div>

          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.activities" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <!-- <a class='user-card-see-more'href="#">...</a> -->
            </center>
            </div>

          </div>


        </div>
      </div>

<!--       <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
 -->    
    </div>

        <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <img class="home-profile-pic" ng-src="{{userInfo.profilePic}}">

          </div>
          <div class="col">
            <h1 class="home-username"> {{ userInfo.username }} </h1>
            &nbsp;
            <a><i class="user-card-msg-icon ion-paper-airplane calm"></i></a>

              <p>{{userInfo.distanceMiles}} miles away</p>

          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>
            <a><i class="user-card ion-ios-heart calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
            </center>

          </div>
          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.likesTopThree" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <a class='user-card-see-more'href="#">...</a>
            </center>
            </div>

          </div>

        </div>

      </div>


      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>

            <a><i class="user-card ion-happy calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
          </center>

          </div>

          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.activities" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <!-- <a class='user-card-see-more'href="#">...</a> -->
            </center>
            </div>

          </div>


        </div>
      </div>

<!--       <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
 -->    
    </div>

        <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <img class="home-profile-pic" ng-src="{{userInfo.profilePic}}">

          </div>
          <div class="col">
            <h1 class="home-username"> {{ userInfo.username }} </h1>
            &nbsp;
            <a><i class="user-card-msg-icon ion-paper-airplane calm"></i></a>

              <p>{{userInfo.distanceMiles}} miles away</p>

          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>
            <a><i class="user-card ion-ios-heart calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
            </center>

          </div>
          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.likesTopThree" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <a class='user-card-see-more'href="#">...</a>
            </center>
            </div>

          </div>

        </div>

      </div>


      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>

            <a><i class="user-card ion-happy calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
          </center>

          </div>

          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.activities" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <!-- <a class='user-card-see-more'href="#">...</a> -->
            </center>
            </div>

          </div>


        </div>
      </div>

<!--       <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
 -->    
    </div>

        <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <img class="home-profile-pic" ng-src="{{userInfo.profilePic}}">

          </div>
          <div class="col">
            <h1 class="home-username"> {{ userInfo.username }} </h1>
            &nbsp;
            <a><i class="user-card-msg-icon ion-paper-airplane calm"></i></a>

              <p>{{userInfo.distanceMiles}} miles away</p>

          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>
            <a><i class="user-card ion-ios-heart calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
            </center>

          </div>
          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.likesTopThree" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <a class='user-card-see-more'href="#">...</a>
            </center>
            </div>

          </div>

        </div>

      </div>


      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>

            <a><i class="user-card ion-happy calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
          </center>

          </div>

          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.activities" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <!-- <a class='user-card-see-more'href="#">...</a> -->
            </center>
            </div>

          </div>


        </div>
      </div>

<!--       <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
 -->    
    </div>

        <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <img class="home-profile-pic" ng-src="{{userInfo.profilePic}}">

          </div>
          <div class="col">
            <h1 class="home-username"> {{ userInfo.username }} </h1>
            &nbsp;
            <a><i class="user-card-msg-icon ion-paper-airplane calm"></i></a>

              <p>{{userInfo.distanceMiles}} miles away</p>

          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>
            <a><i class="user-card ion-ios-heart calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
            </center>

          </div>
          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.likesTopThree" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <a class='user-card-see-more'href="#">...</a>
            </center>
            </div>

          </div>

        </div>

      </div>


      <div class="item item-text-wrap">
        <div class="row">
          <div class="col user-card-column">
            <center>

            <a><i class="user-card ion-happy calm"></i></a>
            <!-- <div href="" icon-on="ion-happy">asd</div> -->
            <!-- </br> -->
          </center>

          </div>

          <div class="col user-card-column">
            <div class="user-card-list"><center>
              <p ng-repeat="name in userInfo.activities" 
                  href="#" 
                  class="user-card-list-item">
                  {{ name }}
              </p>
              <!-- <a class='user-card-see-more'href="#">...</a> -->
            </center>
            </div>

          </div>


        </div>
      </div>

<!--       <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
 -->    
    </div>

 

  </ion-content>
</ion-view>
