<ion-header-bar class="bar-calm">
    <button class="button button-clear" ng-click="redirectToChats()">Back</button>
    <h1 class="title"><i class='icon ion-chatbubble user-messages-top-icon'></i>{{participantUserIDsString}}</h1>
    <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
</ion-header-bar>

<ion-view id="userMessagesView"
  cache-view="false" >

<!-- show loading icon -->
<div class="loader-center" ng-if="!doneLoading">
    <div class="loader">
      <i class="icon ion-loading-c"></i>
    </div>
</div>

  <ion-content has-bouncing="true" class="has-header has-tabs" 
      delegate-handle="userMessageScroll">
    <!-- repeat and print every message in a message arr -->
      <div ng-repeat="message in chatMsgs" class="message-wrapper"
          on-hold="onMessageHold($event, $index, message)">
        <div ng-if="currentUserId !== message.userId">           
          <img ng-click="viewProfile(message)" class="profile-pic left" 
                ng-src="{{message.profileImage}}" onerror="onProfilePicError(this)" />
            <div class="chat-bubble left">
                <div class="message" ng-bind-html="message.text" autolinker></div>
                <div class="message-detail">
                  <span class="bold">{{message.firstName}}</span> 
                  <span am-time-ago="message.timestamp_created"></span>
                </div>
            </div>
        </div>
  <!-- decide if the user is the person typing or not, and style appropriately -->
        <div ng-if="currentUserId === message.userId">            
          <img ng-click="viewProfile(message)" class="profile-pic right" 
              ng-src="{{message.profileImage}}" onerror="onProfilePicError(this)" />            
          <div class="chat-bubble right">
            <div class="message" ng-bind-html="message.text" autolinker></div>
            <span style="font-weight: bold" am-time-ago="message.timestamp_created"></span>
          </div>           
        </div>
        <div class="cf"></div>  
      </div>
  </ion-content>

<!-- Message submit form -->
  <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
      <label class="item-input-wrapper">
              <input class="chat-input" ng-model="input.message" value="" placeholder="{{ $scope.RandomInputPlaceholder }}" required minlength="1" maxlength="1500" msd-elastic ng-enter="submitText(input.message)"></input>
          </label>
          <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-android-send footer-btn" ng-click="submitText(input.message)" type="submit"
                ng-disabled="!input.message || input.message === ''">
            </button>
          </div>
      </ion-footer-bar>
  </form>

<!-- drop down menu at top right corner -->
  <script id="templates/chat/popOverChatSetting.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <div class="list">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="input.userToAddToChat" value="Add user" required minlength="1" maxlength="1500" msd-elastic ng-enter="addingUserToChat(input.userToAddToChat)">
          </label>
          <button class="button button-small button-assertive" ng-click="addingUserToChat(input.userToAddToChat)">Add user</button>
          <a href="" class="item"> Leave Chat</a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
